@model LojaPcs.Models.Computador

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Monte seu computador</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Gabinete, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GabineteId")
                @Html.ValidationMessageFor(model => model.Gabinete)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Placamae, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlacaMaeId")
                @Html.ValidationMessageFor(model => model.Placamae)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Processador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProcessadorId")
                @Html.ValidationMessageFor(model => model.Processador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ram, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RamId")
                @Html.ValidationMessageFor(model => model.Ram)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdRam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdRam)
                @Html.ValidationMessageFor(model => model.QtdRam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gpu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GPUId")
                @Html.ValidationMessageFor(model => model.Gpu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdGpu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdGpu)
                @Html.ValidationMessageFor(model => model.QtdGpu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fonte, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FonteId")
                @Html.ValidationMessageFor(model => model.Fonte)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HDId")
                @Html.ValidationMessageFor(model => model.Hd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdHd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdHd)
                @Html.ValidationMessageFor(model => model.QtdHd)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}