@model LojaPcs.Models.Computador

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Computador</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ComputadorId)

        <div class="form-group">
            @Html.LabelFor(model => model.QtdRam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdRam)
                @Html.ValidationMessageFor(model => model.QtdRam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdGpu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdGpu)
                @Html.ValidationMessageFor(model => model.QtdGpu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdHd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdHd)
                @Html.ValidationMessageFor(model => model.QtdHd)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
