@model IEnumerable<LojaPcs.Models.Computador>

@{
    ViewBag.Title = "Index";
}

<h2>Carrinho</h2>


<table class="table">
    <tr>
        <th>
            Gabinete
        </th>
        <th>
            Processador
        </th>
        <th>
           Placa mãe
        </th>
        <th>
            Ram
        </th>
        <th>
            Quantidade Ram
        </th>
        <th>
           Placa de vídeo
        </th>
        <th>
            Quantidade de GPUs
        </th>
        <th>
            Fonte
        </th>
        <th>
            Hd
        </th>
        <th>
           Quantidade Hd
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gabinete.Nome);
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Processador.Nome);
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placamae.Nome);
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ram.Nome);
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdRam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gpu.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdGpu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fonte.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hd.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdHd)
        </td>       
    </tr>
}

</table>
